<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ata de Reunião{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="navbar">
            <h1>Ata de Reunião</h1>
            <nav>
                {% if "usuario" in session %}
                    <a href="{{ url_for('hub_atas') }}">Hub de Atas</a>
                    <a href="{{ url_for('atas') }}">Atas</a>
                    <a href="{{ url_for('perfil') }}">Perfil</a> <!-- Novo link para o perfil -->
                    {% if session["usuario"] == "admin" %}
                        <a href="{{ url_for('gerenciar_usuarios') }}">Gerenciar Usuários</a>
                    {% endif %}
                    <a href="{{ url_for('logout') }}" class="logout">Sair</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>